#language {
  position: fixed;
  right: 0;
  top: 0;
  width: 75px;
  height: 30px;
  background-color: #b9d9ea;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
}

#language div {
  flex: 0 1 40%;
}

#language img {
  border-radius: 5px;
}
