<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=10" />
    <title>Finci</title>

    <link rel="stylesheet" href="scss/main.css" />
  </head>
  <body class="page">
    <!-- language picker -->
    <div id="language">
      <div id="serbian">
        <img
          src="img/srb_icon.png"
          alt="Serbian language button"
          class="responsive"
        />
      </div>
      <div id="finnish">
        <img
          src="img/fin_icon.png"
          alt="Finnish language button"
          class="responsive"
        />
      </div>
    </div>
    <!-- NAVIGATION -->
    <nav class="page-nav">
      <div id="brand">
        <a href="index.html"><img class="responsive" src="img/banner.png" /></a>
      </div>
      <div class="navigation">
        <a href="#" class="navItem">Naslovna</a>
        <a href="#" class="navItem">O nama</a>
        <a href="#" class="navItem">Postanite član</a>
        <a href="#" class="navItem">Pišite nam</a>
        <div class="toggle">
          <i class="fas fa-bars"></i>
        </div>
      </div>
    </nav>
    <!-- Header -->
    <header class="page-header">
      <!-- card -->
      <h1 id="onama">O Nama</h1>
    </header>
    <main class="page-main">
      <section class="card">
        <p>
          Srpsko-finsko društvo osnovano je na osnivačkoj sednici 25.05.2001 a
          zvanično je registrovano 15.10.2001.
        </p>
        <p>
          Osnovna uloga Društva je razvijanje kulturnih veza između finskog i
          srpskog naroda i jačanje prijateljstva i saradnje između njih. U cilju
          ostvarivanja ovih ciljeva Društvo organizuje kurseve srpskog jezika,
          predavanja, izložbe, kulturne i sportske manifestacije, pojedinačne i
          grupne posete i putovanja. Društvo se bavi izdavanjem publikacija i
          održavanjem veza sa javnošću u cilju boljeg informisanja u Finskoj o
          Srbima i njihovom životu i težnjama.
        </p>
        <p>
          Jedini izvor prihoda Društva su članarine i donacije. Društvo ne
          poseduje stalne prostorije za okupljanje. Sastanci Društva organizuju
          se prema potrebi i po dogovoru. O svom radu i cilju postojanja
          Srpsko-finsko društvo informise preko pošte, elektronske pošte i preko
          svog sajta na Internetu: www.srpsko-finsko.org.
        </p>
        <p>
          Srpsko-finsko društvo učlanjeno je u Savez društava prijateljstva
          (Ystävyysseurojen liitto). Društvo održava korespodenciju sa srodnim
          društvima u drugim zemljama.
        </p>
      </section>

      <section id="statut" class="card">
        <h2>Statut</h2>
        <h3>Ime udruženja i sedište</h3>
        <p>
          Ime udruženja je Serbialais-suomailainen seura ry, na švedskom
          Serbisk-finska Foreningen rf, na srpskom jeziku može da se koristi
          nezvanično ime Srpsko-finsko društvo, sa sedištem u Helsinkiju i sa
          prostorom delovanja u čitavoj Finskoj.
        </p>

        <h3>Svrha osnivanja i opis delatnosti</h3>
        <p>
          Svrha osnivanja Društva je da okupi Srbe, Fince i sve druge koji
          prihvataju ciljeve i pravilnik Društva u cilju razvijanja kulturnih
          veza između finskog i srpskog naroda, širenja i produbljavanja
          poznavanja u Finskoj istorije, društvenog, ekonomskog i
          civilizacijskog razvoja i tradicija Srba, kao i na jačanju
          prijateljstva i saradnje finskog i srpskog naroda.
        </p>
        <p>
          U cilju ostvarivanja svojih ciljeva Društvo će delovati kao spona
          između finskog i srpskog naroda, koordinisati rad sekcija Društva,
          raditi na osnivanju novih sekcija, organizovati predavanja, izložbe,
          proslave, kulturne i sportske aktivnosti, kurseva srpskog jezika, kao
          i posete i putovanja članova Udruženja, baviti se izdavanjem
          publikacija i održavanjem veza sa javnošću u cilju boljeg informisanja
          u Finskoj o Srbima i njihovom životu i težnjama.
        </p>
        <p>
          Društvo ima pravo da poseduje nekretnine i pokretnosti, da organizuje
          lutriju, prikupljanje novca i prodaju prikupljenih stvari, da prima
          donacije i ostavštine i da se bavi poslovnom aktivnošću uzimajući u
          obzir odredbe iz člana 5 Zakona o udruženjima.
        </p>

        <h3>članstvo u Društvu</h3>

        <p>
          U Društvo mogu da se učlane sva lica, koja prihvataju ciljeve rada
          Društva i koje predsedništvo primi za članove.
        </p>
        <p>
          U cilju ostvarenja ciljeva Društva članovi mogu da osnivaju
          neregistrovane sekcije čiju delatnost i svrhu osnivanja potvrdi
          predsedništvo Društva.
        </p>

        <h3>Napuštanje članstva i isključivanje iz članstva</h3>
        <p>
          član moze da napusti Društvo obaveštavajuci o tome u skladu sa Zakonom
          o udruženjima.
        </p>
        <p>
          Predsedništvo može da isključi iz članstva člana Društva koji
          zapostavi plaćanje članarine, deluje protivno pravilniku ili ciljevima
          Društva ili na drugi način nanosi značajnu štetu Društvu.
        </p>
        <p>
          Isključeni član ima, ipak, pravo da u cilju poništenja odluke, uputi
          pismenu žalbu predsedavajućem skupštine Društva u roku od četrnaest
          dana po prijemu odluke predsedništva. Ukoliko se isključeni član ne
          žali na odluku o isključenju iz članstva odluka stupa na snagu po
          isteku roka za žalbu, u protivnom sa datumom kada je skupština Društva
          potvrdila odluku o isključenju
        </p>
        <p>
          Ukoliko član Društva ne plati članarinu dve uzastopne godine onda
          predsedništvo smatra da je isključen iz članstva.
        </p>

        <h3>Članarina</h3>
        <p>
          članovi Društva plaćaju godišnju članarinu koja se određuje na
          godišnjoj skupštini. Predsedništvo Društva može na određeno vreme da
          oslobodi člana plaćanja članarine, ukoliko to član zatraži pozivajući
          se na nedostatak finansijskih sredstava, na školovanje, na bolest ili
          neki drugi sličan razlog.
        </p>

        <p>
          U sponzorsko članstvo mogu biti primljena pravna lica registrovana u
          Finskoj, koja prihvataju ciljeve Društva i koja su prihvaćena na
          godišnjoj skupštini. Sponzorski članovi plaćaju godišnju članarinu
          čija se visina određuje na godišnjoj skupštini.
        </p>

        <p>
          Godišnja skupština Društva može na predlog predsedništva da za
          počasnog predsednika i članove primi lica koja su značajno doprinela
          ostvarivanju ciljeva Društva. Počasni članovi i počasni predsednik ne
          plaćaju članarinu.
        </p>

        <h3>Predsedništvo</h3>
        <p>
          Društvom upravlja predsedništvo, koje čine predsednik i najmanje šest
          (6) a najviše četrnaest (14) članova izabranih na godišnjoj skupštini.
        </p>
        <p>Predsedništvo se bira na period između godišnjih skupština.</p>
        <p>
          Predsedništvo bira između sebe potpredsednika, sekretara, blagajnika i
          druge potrebne službenike.
        </p>
        <p>
          Predsedništvo se sastaje na poziv predsednika ili, u slučaju njegove
          sprečenosti, potpredsednika.
        </p>
        <p>
          Predsedništvo ima kvorum kada je prisutna polovina članova i
          predsednik odn. potpredsednik.
        </p>
        <p>Predsedništvo moze da imenuje stalne ili privremene radne grupe.</p>
        <h3>Potpisivanje u ime Društva</h3>
        <p>
          U ime Društva pravo potpisa imaju predsednik ili potpredsednik,
          zajedno sa sekretarom.
        </p>
        <h3>Knjigovodstvo i finansije</h3>
        <p>
          Godišnji period za koji se vode finansijske knjige Društva je 1.6. -
          31.5.
        </p>
        <p>
          Završni račun sa potrebnim dokumentima i godišnji izveštaj
          predsedništva treba dostaviti knjigovođi najkasnije tri nedelje pre
          godišnje skupštine. Knjigovođa treba da dostavi svoj izveštaj
          predsedništvu najkasnije dve nedelje pre godišnje skupštine.
        </p>
        <h3>Sastanci Drustva</h3>
        <p>
          Godišnja skupština se održava u periodu januar-maj na datum koji
          odredi predsedništvo.
        </p>
        <p>
          Vanredna skupština se odrzava kada se o tome donese odluka na sastanku
          Društva, ili kad predsedništvo smatra to za potrebno, ili kada
          najmanje desetina (1/10) članova sa pravom glasa to pismeno zatraži od
          predsedništva. Skupština se mora održati u roku od 30 dana od
          podnošenja zahteva predsedništvu.
        </p>
        <p>
          članovi Društva imaju na skupštini pravo glasa. Na skupštini članovi
          ne mogu biti zastupljeni od strane drugog lica.
        </p>
        <p>
          Sekcije Društva mogu da pošalju na skupštinu svoje predstavnike koji
          imaju pravo na reč, ali ne i pravo glasa.
        </p>
        <p>
          Pravna lica koja su sponzorski članovi Društva imaju pravo da pošalju
          na godišnju skupštinu jednog svog predstavnika, koji ima pravo na reč
          ali ne i pravo glasa.
        </p>
        <p>
          Počasni predsednik Društva i počasni članovi imaju pravo da
          prisustvuju godišnjoj skupštini i pravo na reč ali ne i pravo glasa.
        </p>
        <p>
          Na sastancima Društva odluke se donose prostom većinom, ukoliko se ne
          odnose na promenu pravilnika ili ukidanje Društva. Ukoliko je rezultat
          glasanja nerešen, u slučaju izbora kandidat se bira izvlačenjem, u
          ostalim slučajevima odlučuje glas predsedavajućeg.
        </p>

        <h3>Sazivanje sastanka Društva</h3>
        <p>
          Predsedništvo treba da pozove članove na sastanak najmanje sedam dana
          pre datuma održavanja i to pismeno ili putem oglasa u lokalnom listu.
        </p>

        <h3>Godišnja skupština</h3>
        <p>Godišnja skupština</p>
        <ol>
          <li>Otvara sastanak</li>
          <li>
            Bira predsedavajući, sekretar, dva (2) kontrolora zapisnika i, u
            slučaju potrebe, dva (2) kontrolora glasanja.
          </li>
          <li>
            Konstatuje da su ispunjeni formalni uslovi za održavanje sastanka
          </li>
          <li>Usvaja se dnevni red</li>
          <li>
            Iznosi završni račun, godišnji izveštaj i izveštaj knjigovođe.
          </li>
          <li>
            Odlučuje o usvajanju završnog računa i oslobađanju od odgovornosti
            predsedništva i ostalih odgovornih lica.
          </li>
          <li>
            Usvaja se plan rada Društva, procena prihoda i rashoda kao i visina
            članarine.
          </li>
          <li>Biraju predsednik i ostali članovi predsedništva</li>
          <li>Bira knjigovođa i njegov zamenik</li>
          <li>
            Raspravlja o ostalim pitanjima navedenim u pozivu na sastanak.
          </li>
        </ol>
        <p>
          Ukoliko član Društva želi da iznese neku stvar na godišnju skupštinu,
          mora o tome pismeno da obavesti predsedništvo na vreme kako bi mogla
          da se uključi u dnevni red.
        </p>

        <h3>Izmena pravilnika i ukidanje Društva</h3>

        <p>
          Odluka o izmeni pravilnika i ukidanju Društva mora se doneti na
          sastanku Društva uz najmanje tri četvrtine (3/4) glasova. U pozivu na
          sastanak mora biti navedeno da se radi o izmeni pravilnika ili
          ukidanju Društva.
        </p>
        <p>
          U slučaju ukidanja Društva preostala sredstva će biti upotrebljena za
          unapređenje istih ciljeva, na način koji je određen na sastanku
          Društva, na kome je doneta odluka o njegovom ukidanju.
        </p>
        <p>Helsinki 25.5.2001</p>
      </section>

      <section id="predsednistvo" class="card">
        <h2>Predsedništvo</h2>
        <h3>PREDSEDNIŠTVO 2017-2018</h3>
        <ul>
          <li>Vladan Jovanović, predsednik</li>
          <li>Nina Graves, potpredsednik</li>
          <li>Leena Eskelinen, sekretar</li>
          <li>Seija Lappalainen</li>
          <li>Branislav Bakić</li>
          <li>Seija Milićević</li>
          <li>Biljana Živković</li>
        </ul>
      </section>

      <section id="urednistvo-sajta" class="card">
        <h2>Uredništvo sajta</h2>
        <p>Ognjen Popović</p>
        <p>
          <a href="https://www.github.com/rentorious" target="_blank">
            <i class="fab fa-github fa-2x"></i
          ></a>
        </p>
      </section>
    </main>
    <aside class="page-aside">
      <ul class="page-aside-nav">
        <li><a href="#onama">O nama</a></li>
        <li><a href="#statut">Statut</a></li>
        <li><a href="#predsednistvo">Predsedništvo</a></li>
        <li><a href="#urednistvo-sajta">Uredništvo sajta</a></li>
      </ul>
    </aside>
    <footer class="footer">
      © 2020 Srpsko-Finsko Društvo / Serbialais-Suomalainen Seura Ry. Sva prava
      zadržana.
    </footer>
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/e7477977c9.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>

<!-- Credits  -->
<!-- Photo: https://unsplash.com/photos/MYJVaCl6M4M?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink  -->
