/* Medium sceen size */
@media (max-width: 1200px) {
  body {
    width: 90%;
  }
}

/* Small screen size */

@media (max-width: 890px) {
  nav {
    flex-direction: column;
  }

  main .card {
    flex-direction: column;
  }
}

/* Phone size */
@media (max-width: 610px) {
  /* Nav */
  nav {
    flex-direction: row;
    align-items: center;
  }

  nav #brand {
    flex: 0 1 85%;
  }

  nav .navigation {
    flex-direction: column;
    align-items: center;
    flex: 0 1 15%;
    color: white;
    /* background-color: ; */
  }

  nav .navigation a.navItem {
    display: none;
  }

  nav .toggle {
    display: block;
  }
  /* card  */

  .card,
  header .card {
    flex-direction: column !important;
  }

  .card .image {
    margin: 1em;
    margin-bottom: 1em;
  }

  /* header  */
  header {
    width: 100%;
  }

  header h1 {
    font-size: 2.2em;
  }

  main {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
