/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Caros Light" !important;
}

body {
  font-size: 16px;
  background-image: linear-gradient(#008ace, #006ba1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 65%;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

a.active {
  font-family: "Caros Bold" !important;
  /* font-weight: bold; */
}

a:hover {
  font-weight: bold;
}

h1 {
  font-size: 2.75em;
}
h2 {
  font-size: 2.1em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.25em;
}

/* text colors */

.date-text {
  color: #80badf !important;
}

/* Language picker */

#language {
  position: fixed;
  right: 0;
  top: 0;
  width: 75px;
  height: 30px;
  background-color: #b9d9ea;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 15px;
}

#language div {
  flex: 0 1 40%;
}

#language img {
  border-radius: 5px;
}

/* Navigation */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
  min-height: 150px;
}

nav .navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 1 60%;
}

nav #brand {
  flex: 0 1 40%;
}

nav .navigation .navItem {
  display: block;
  margin: 1em;
}

nav .toggle {
  display: none;
}

/* Image  */
img.responsive {
  max-width: 100%;
  height: auto;
}

/* Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-height: 200px;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(87, 87, 87, 1);
  -moz-box-shadow: 3px 3px 10px 1px rgba(87, 87, 87, 1);
  box-shadow: 3px 3px 10px 1px rgba(87, 87, 87, 1);
  border-radius: 15px;
  margin-bottom: 1em;
  background-color: #f1f9ff;
}

.card .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
}

.card .date,
.card .description h3,
.card .description .short {
  margin-bottom: 0.5em;
}

.card .description .learnMore {
  color: #4991b9;
}

.card .description .footer {
  display: flex;
  flex-direction: row-reverse;
}

.card .description .footer a {
  color: #4991b9;
  display: block;
  margin-right: 0.5em;
}

.card .image img,
article .heading img {
  border-radius: 15px;
}

/* Header  */

header hr {
  color: white;
  opacity: 75%;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

header .date-text,
header .learnMore,
header .footer a {
  color: #bd9726 !important;
}

header .card {
  flex-direction: row !important;
}

/* main  */

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 0 auto;
}

/* Medium sceen size */
@media (max-width: 1200px) {
  body {
    width: 90%;
  }
}

/* Small screen size */

@media (max-width: 890px) {
  nav {
    flex-direction: column;
  }

  main .card {
    flex-direction: column;
  }
}

/* Phone size */
@media (max-width: 610px) {
  /* Nav */
  nav {
    flex-direction: row;
    align-items: center;
  }

  nav #brand {
    flex: 0 1 85%;
  }

  nav .navigation {
    flex-direction: column;
    align-items: center;
    flex: 0 1 15%;
    color: white;
    /* background-color: ; */
  }

  nav .navigation a.navItem {
    display: none;
  }

  nav .toggle {
    display: block;
  }
  /* card  */

  .card,
  header .card {
    flex-direction: column !important;
  }

  .card .image {
    margin: 1em;
    margin-bottom: 1em;
  }

  /* header  */
  header {
    width: 100%;
  }

  header h1 {
    font-size: 2.2em;
  }

  main {
    width: 100%;
    grid-template-columns: 1fr;
  }
}
