@import "page_header";
@import "../mixins";
.page {
  display: grid;

  grid-template-columns: 8fr 2fr;
  grid-gap: 2rem;

  grid-template-areas:
    "nav nav"
    "header header"
    "main aside"
    "footer footer";

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "footer";
  }

  header h1 {
    font-size: 2.75rem !important;
  }

  section {
    margin-bottom: 1.5rem;
  }

  .card {
    padding: 1rem;
    align-items: flex-start;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-color;
    margin-bottom: 1.25rem;
    // font-weight: 600;
  }

  h1,
  h2 {
    color: $accent-color;
  }

  .footer {
    grid-area: footer;
    color: lighten($primary-color, 60%);
    opacity: 60%;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.page-nav {
  grid-area: nav;
  margin-bottom: 1rem !important;
}

.page-main {
  grid-area: main;
  grid-template-columns: 1fr;

  font-size: 1.25rem;
  color: $light-color;
}

.page-aside {
  grid-area: aside;

  ul {
    list-style-type: none;

    li {
      margin-bottom: 0.75rem;
      font-weight: weight(medium);
    }
  }
}
