form {
  margin: 1rem;

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
  }
  input,
  label {
    border-radius: 0.25rem;
    padding: 0.5rem;
    margin: 0.25rem;
  }
}
