@import "mixins";

header {
  hr {
    color: white;
    opacity: 75%;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .card {
    flex-direction: column-reverse;

    .image {
      align-self: end;
    }
  }

  @include mobile {
    .card {
      flex-direction: column !important;
    }

    h1 {
      font-size: 2.2rem;
    }
  }
}
