$primary-color: #373737;
$accent-color: #d2aa6d;
$bg-color-top: #008ace;
$bg-color-bot: #006ba1;
$card-bg-color: #f1f9ff;
$light-color: #fff;

$mobile: 610px;
$small: 890px;
$medium: 1350px;

$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
